/*header*/
.header {
  background-image: url("../images/bg-kitchen-wood.jpg");
  width: 100%;
  background-position: top center;
  background-size: cover;
  background-color: #000000;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  height: 600px;
}

.header .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71px;
}

@media only screen and (max-width: 775px) {
  .header .items {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 990px) {
  .header .items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 0 40px;
  }
}

.header .items .logo img {
  height: 35px;
  margin-top: 10px;
}

.header .items ul.nav_bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 990px) {
  .header .items ul.nav_bar {
    display: none;
  }
}

.header .items ul.nav_bar li {
  padding: 15px 0;
  position: relative;
}

.header .items ul.nav_bar li a {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.header .items ul.nav_bar li a i {
  margin-left: 5px;
}

.header .items ul.nav_bar li a .active {
  color: #DAA760;
}

.header .items ul.nav_bar li a:hover {
  color: #DAA760;
}

.header .items ul.nav_bar li .dropdown_menu {
  display: none;
  position: absolute;
  background: #000;
  min-width: 200px;
  z-index: 9999;
  top: 40px;
}

.header .items ul.nav_bar li .dropdown_menu li {
  padding: 0;
}

.header .items ul.nav_bar li .dropdown_menu li a {
  color: #fff;
  padding: 10px 15px;
  border-bottom: 1px solid #303030;
}

.header .items ul.nav_bar li .dropdown_menu li a:hover {
  background: #202020;
  color: #daa760;
}

.header .items ul.nav_bar li:hover .dropdown_menu {
  display: block;
}

.header .items .social {
  text-align: right;
}

.header .items .social a {
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
}

.header .items .social a:hover {
  color: #DAA760;
}

.header .slider {
  padding: 80px 0;
}

.header .slider .text {
  text-align: center;
  max-width: 63%;
  margin: 0 auto;
}

.header .slider .text .element_icon {
  margin: 0px 0px 10px 0px;
  margin-bottom: 30px;
}

.header .slider .text .element_icon i {
  font-size: 50px;
  color: #DAA760;
}

.header .slider .text .description {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
  color: #DAA760;
}

.header .slider .text .line {
  position: relative;
  margin-top: 25px;
}

.header .slider .text .line i {
  color: #DAA760;
  position: absolute;
  left: 0;
  top: -6px;
  right: 0;
}

.header .slider .text .line .line_icons {
  border: 1px solid;
  width: 13%;
  margin: 0 auto;
  color: #DAA760;
}

.header .slider .text .title {
  margin: 0px 0px 38px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.9em;
  color: #fff;
}

.header .slider .text .botton {
  font-family: "Inter", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 3.5px;
  padding: 16px 28px 16px 28px;
  display: inline-block;
  border: 1px solid;
  margin-top: 46px;
  background-color: #DAA760;
  border-radius: 5px;
}

.header .slider .text .botton a {
  color: #0e0d0d;
  font-size: 14px;
}

.header .slider .text .botton a:hover {
  color: white;
}

.header .slider .text .botton:hover {
  color: white;
  background-color: #DAA76000;
}

/*story*/
.story {
  background-color: #130F0C;
  position: relative;
  height: 700px;
}

.story .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.story .items .left_story {
  background-image: url("../images/our-table.png");
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 43px;
  left: 0;
  position: absolute;
}

.story .items .left_story .images {
  background-image: url("../images/right.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 45px;
}

.story .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 100px;
}

.story .item .story_item_img img {
  position: absolute;
  left: 188px;
  right: 0;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media only screen and (max-width: 990px) {
  .story .item .story_item_img img {
    left: 44px;
  }
}

.story .item .story_item_img img:hover {
  /* transform: translate(20px, 20px);*/
  -webkit-transform: translateY(81px);
          transform: translateY(81px);
}

.story .item .story_item {
  padding: 0px 100px 0px 100px;
  position: relative;
}

.story .item .story_item .story_title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  line-height: 3px;
  color: #DAA760;
}

.story .item .story_item .story_title .story_line {
  border: 1px solid;
  width: 50px;
  height: 0px;
}

.story .item .story_item .story_editor {
  font-family: "Raleway", Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  padding-bottom: 15px;
  color: #fff;
}

.story .item .story_item .story_description {
  margin: 0px 0px 45px 0px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1C8BB;
  line-height: 1.5;
  position: relative;
}

.story .item .story_item .story_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  -webkit-column-gap: 45px;
          column-gap: 45px;
  margin-bottom: 35px;
}

.story .item .story_item .story_list span {
  padding-left: 10px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #D1C8BB;
}

.story .item .story_item .story_list i {
  color: #DAA760;
}

.story .item .story_item .botton {
  font-family: "Inter", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 3.5px;
  padding: 16px 28px 16px 28px;
  display: inline-block;
  border: 1px solid;
  margin-top: 46px;
  background-color: #DAA760;
  border-radius: 5px;
}

.story .item .story_item .botton a.btn {
  color: #0e0d0d;
  font-size: 14px;
}

.story .item .story_item .botton a.btn:hover {
  color: white;
}

.story .item .story_item .botton:hover {
  color: white;
  background-color: #DAA76000;
}

/*specials*/
.specials {
  background-color: #130F0C;
  padding: 60px 0;
}

.specials .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 990px) {
  .specials .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding: 0 30px;
    justify-items: center;
  }
}

.specials .items .left_item .specials_menu_list {
  padding: 60px 0;
}

.specials .items .left_item .specials_menu_list .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 8fr;
      grid-template-columns: 1fr 8fr;
  line-height: 3px;
  color: #DAA760;
}

.specials .items .left_item .specials_menu_list .title .line {
  border: 1px solid;
  width: 50px;
  height: 0px;
}

.specials .items .left_item .specials_menu_list .description {
  font-family: "Raleway", Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
  padding-bottom: 35px;
  color: #fff;
}

.specials .items .left_item .specials_menu_list .food_list .title_default {
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #fff;
}

.specials .items .left_item .specials_menu_list .food_list .title_default span {
  color: #DAA760;
  margin: 0 10px;
}

.specials .items .left_item .specials_menu_list .food_list .title_default span.price {
  color: #fff;
}

.specials .items .left_item .specials_menu_list .food_list .widget {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #DAA760;
  padding-bottom: 65px;
}

.specials .items .right_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

.specials .items .right_items .right_item img {
  width: 729px;
  height: 400px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media only screen and (max-width: 775px) {
  .specials .items .right_items .right_item img {
    width: 679px;
    height: 370px;
  }
}

.specials .items .right_items .right_item img:hover {
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  /*   transform: translatex(81px);*/
}

.specials .items .right_items .right_bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  gap: 20px;
}

.specials .items .right_items .right_bottom .bottom img {
  width: 259px;
  height: 300px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media only screen and (max-width: 775px) {
  .specials .items .right_items .right_bottom .bottom img {
    width: 250px;
    height: 250px;
  }
}

.specials .items .right_items .right_bottom .bottom img:hover {
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  /*   transform: translatex(81px);*/
}

.specials .items .right_items .right_bottom .bottom_img img {
  width: 433px;
  height: 300px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

@media only screen and (max-width: 775px) {
  .specials .items .right_items .right_bottom .bottom_img img {
    width: 400px;
    height: 250px;
  }
}

.specials .items .right_items .right_bottom .bottom_img img:hover {
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  /*   transform: translatex(81px);*/
}

.quality {
  background-color: #130F0C;
  padding: 60px 0 10px;
}

.quality .quality_slider {
  background-image: url("../images/steak-food-recipe-idea.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  background-attachment: fixed;
  background-color: #0B1315;
  opacity: 0.6;
  -webkit-transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.quality .quality_slider .text {
  text-align: center;
  padding-top: 80px;
}

.quality .quality_slider .text .title {
  font-family: "Raleway", Sans-serif;
  font-size: 69px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 2.2em;
  color: #fff;
}

.quality .quality_slider .text .icon i {
  color: #ff9501;
  font-size: 20px;
}

.services {
  padding: 200px 0px 70px 0px;
  background-color: #130F0C;
  position: relative;
}

.services .services_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 990px) {
  .services .services_items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.services .services_items .all_left .left_item {
  position: relative;
}

@media only screen and (max-width: 990px) {
  .services .services_items .all_left .left_item img {
    width: 890px;
  }
}

.services .services_items .all_left .leaf img {
  position: absolute;
  left: 401px;
  top: 39px;
  width: 409px;
  height: 427px;
}

@media only screen and (max-width: 775px) {
  .services .services_items .all_left .leaf img {
    top: 0;
    width: 280px;
    height: 300px;
    left: 260px;
  }
}

.services .services_items .all_left .rosemary {
  left: -88px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 990px) {
  .services .services_items .all_left .rosemary {
    top: 500px;
  }
}

.services .services_items .right_item {
  margin: 0px 0px 0px 0px;
  padding: 0 10px;
  margin-top: 110px;
}

.services .services_items .right_item .text .right_title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
  line-height: 3px;
  color: #DAA760;
}

.services .services_items .right_item .text .right_title .line {
  border: 1px solid;
  width: 35px;
  height: 0px;
}

.services .services_items .right_item .text .right_default {
  padding: 10px 0 25px;
  font-family: "Raleway", Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #fff;
}

.services .services_items .right_item .text .right_description {
  padding-bottom: 40px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1C8BB;
}

.services .services_items .right_item .statistics {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.services .services_items .right_item .statistics .statistics_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr;
      grid-template-columns: 1fr 5fr;
}

.services .services_items .right_item .statistics .statistics_item i {
  width: 1em;
  height: 1em;
  font-size: 58px;
  color: #DAA760;
}

.services .services_items .right_item .statistics .statistics_item .number_foot {
  padding-left: 30px;
}

.services .services_items .right_item .statistics .statistics_item .number_foot span.number {
  font-family: "Raleway", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 0px;
  color: #fff;
}

.services .services_items .right_item .statistics .statistics_item .number_foot span.super {
  vertical-align: top;
  font-size: 22px;
  color: #DAA760;
  position: relative;
}

.services .services_items .right_item .statistics .statistics_item .number_foot h3 {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.3em;
  color: #D1C8BB;
}

.services .services_items .right_item .right_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 30px 0;
}

.services .services_items .right_item .right_title p {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7em;
  color: #D1C8BB;
}

.services .services_items .right_item .right_title a {
  font-family: "Inter", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7em;
  color: #DAA760;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}

.history {
  background-image: url(../images/restaurant-with-beautiful-fireplace.jpg);
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  background-attachment: fixed;
  height: 500px;
  width: 100%;
  opacity: 0.7;
}

.history .text {
  text-align: center;
  max-width: 52%;
  margin: 0 auto;
  padding-top: 70px;
}

.history .text .icon {
  color: #DAA760;
  font-size: 48px;
  line-height: 2;
}

.history .text .history_description {
  color: #fff;
  font-family: "Raleway", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  line-height: 1.6em;
  padding-bottom: 30px;
}

.history .text .history_autor {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color: #DAA760;
}

.our_menu {
  padding: 80px 0px 100px 0px;
  background-color: #130F0C;
}

@media only screen and (max-width: 990px) {
  .our_menu .text {
    padding: 0 23px;
  }
}

.our_menu .text .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16fr;
      grid-template-columns: 1fr 16fr;
  line-height: 3px;
  color: #DAA760;
}

.our_menu .text .title .line {
  border: 1px solid;
  width: 50px;
  height: 0px;
}

.our_menu .text .default {
  padding: 10px 0 25px;
  font-family: "Raleway", Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #fff;
}

.our_menu .text .description {
  padding-bottom: 40px;
  line-height: 1.5;
  width: 39.073%;
  max-width: 39.073%;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1C8BB;
}

.our_menu .our_cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

@media only screen and (max-width: 775px) {
  .our_menu .our_cards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.our_menu .our_cards .card {
  text-align: center;
}

.our_menu .our_cards .card .img {
  overflow: hidden;
}

.our_menu .our_cards .card .img img {
  transition: transform 0.35s ease-in, -webkit-transform 0.35s ease-in;
  border-radius: 5px;
}

.our_menu .our_cards .card .img img:hover {
  opacity: 0.5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our_menu .our_cards .card .card_title {
  padding: 40px 0px 0px 0px;
  font-family: "Raleway", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 1.2px;
  color: #DAA760;
  margin-bottom: 10px;
}

.our_menu .our_cards .card .card_description {
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #D1C8BB;
  margin-bottom: 10px;
}

.reserve {
  background-image: url(../images/interior-view-ofa-city-restaurant-.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 540px;
  width: 100%;
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
}

.reserve .reserve_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.reserve .reserve_items .item {
  padding: 0px 100px 0px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

@media only screen and (max-width: 990px) {
  .reserve .reserve_items .item {
    padding: 0 30px;
  }
}

.reserve .reserve_items .item .text .title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16fr;
      grid-template-columns: 1fr 16fr;
  line-height: 3px;
  color: #DAA760;
}

.reserve .reserve_items .item .text .title .line {
  border: 1px solid;
  width: 50px;
  height: 0px;
}

.reserve .reserve_items .item .text .default {
  padding: 10px 0 25px;
  font-family: "Raleway", Sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize;
  line-height: 1.2em;
  color: #fff;
}

.reserve .reserve_items .item .text .description {
  padding-bottom: 40px;
  line-height: 1.5;
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1C8BB;
}

.reserve .reserve_items .right_item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
}

.reserve .reserve_items .right_item .botton {
  font-family: "Inter", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.6em;
  letter-spacing: 3.5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #D29A5A00;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  background-color: #DAA760;
}

.reserve .reserve_items .right_item .botton a {
  font-size: 14px;
  color: #0e0d0d;
}

.reserve .reserve_items .right_item .botton a:hover {
  color: #D1C8BB;
}

.reserve .reserve_items .right_item .botton:hover {
  color: #fff;
  background-color: #02010100;
  border-color: #D1C8BB;
}

.contact {
  padding: 100px 0px 100px 0px;
  background-color: #130F0C;
  border-bottom: 1px solid #ccc;
  border-color: #F8F8F80D;
}

.contact .contact_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media only screen and (max-width: 990px) {
  .contact .contact_items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    padding: 0 40px;
  }
}

.contact .contact_items .item .info_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.contact .contact_items .item .info_box .icon i {
  font-size: 40px;
  color: #DAA760;
}

.contact .contact_items .item .info_box .icon i:hover {
  color: #ff9501;
}

.contact .contact_items .item .info_box .description {
  font-family: "Inter", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #D1C8BB;
}

.footer {
  padding: 140px 0px 80px 0px;
  background-color: #130F0C;
}

.footer .footer_logo {
  margin-bottom: 20px;
  text-align: center;
}

.footer .footer_logo img {
  width: 130px;
  margin: 0px 0px 10px 0px;
}

.footer .link {
  margin-bottom: 20px;
  text-align: center;
}

.footer .link a {
  padding: 22px;
  color: #DAA760;
  line-height: 2.5em;
  font-family: "Inter", Sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer .link a:hover {
  color: #fff;
}

.footer .copyright {
  padding: 0px 0px 20px 0px;
  text-align: center;
  font-family: "Inter", Sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #D1C8BB;
}

@media only screen and (max-width: 990px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
  .header .menu {
    display: none;
  }
  .header .icon {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border-style: none;
  list-style-type: none;
  outline-style: none;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  width: 1280px;
  margin: auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 100%;
    overflow: hidden;
  }
}
/*# sourceMappingURL=style.css.map */